<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Hello Flask!</title>

</head>

<body class="mt-5">
    <p class="fs-2 text-center text-success">Hello Flask!</p>
    <p class="fs-6 text-center">Let's have some fun learning Flask!</p>
    <a href="{{ url_for('tasks', _external=True) }}">Go to tasks</a>
</body>